.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'question question' 'answers answer' 'button button';
}

@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: 'question' 'answers' 'answer' 'button';
  }
}
