.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 0.5em;
}

.audioContainer {
  flex: 3;
}

.image {
  height: 90%;
}

.title {
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 1px solid #555;
}