.header {
  margin-bottom: 1rem;
}

.logo {
  width: 200px;
}

@media (max-width: 500px) {
  .logo {
    width: 46%;
  }
}

.top {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.score {
  font-size: 1.2rem;
  line-height: 1rem;
}

.birdTypesList {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.3em;
  overflow: hidden;
}

.birdTypes {
  padding: 0.5rem 0.5rem 0.3rem;
  flex: 1;
  text-align: center;
  list-style: none;
  background-color: #008966;
  border-bottom: 0.2rem solid #008966;
}

.active {
  border-bottom: 0.2rem solid #00bc8c;
}
