.finalScreen {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}


.score {
  font-size: 1.2em;
  font-weight: bold;
  color: #008966;
}