.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 0.6rem;
  overflow: hidden;
}

.image {
  width: auto;
  height: 100%;
  object-fit: contain;
}
